*{
margin: 0;
padding: 0;

}
.w-100-height {
    height: 90vh;
    width: 100%;
  }
  .carousel-item {
    min-height: 300px;
    width: 100%;
  }
  .carousel-caption {
    text-align: left;
    margin-bottom: 200px;
    z-index: 2;
  }
  .carousel-caption h5 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
    
  }
  .carousel-caption p {
    width: 100%;
    font-size: 16px;
    text-align: left;
  }
  .carousel-caption a {
    font-size: 16px;
    text-align: left;
  }
  .carousel-inner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  @media screen and (max-width: 750px){
    .carousel-caption h5{
        display:none;
    }
    
    
  }

  @media screen and (max-width: 600px){
    .carousel-caption p{
        display:none;
    }
    
    
  }